st/DomaceNaloge/dn_2/majcn/xml.dtd

<!ELEMENT tecaji (tecaj+)>
<!ELEMENT tecaj (ID_TECAJ, TEMA, ORGANIZATOR, IZVAJALEC, PROSTOR, STEVILO_UR, TERMIN, CENA)>
<!ELEMENT ID_TECAJ (#PCDATA)> 
<!ELEMENT TEMA (#PCDATA)> 
<!ELEMENT ORGANIZATOR (#PCDATA)> 
<!ELEMENT IZVAJALEC (#PCDATA)> 
<!ELEMENT PROSTOR (#PCDATA)> 
<!ELEMENT STEVILO_UR (#PCDATA)>
<!ELEMENT TERMIN (#PCDATA)>
<!ELEMENT CENA (#PCDATA)>